<div id="projects-section">
    <div id="project-header-section">
        <p id="projects-header">{{title}}</p>
    </div>
    <div class="projects-wrapper">
        <div class="projects">
            <div routerLink='/project/{{project.id}}'   class="project" *ngFor = "let project of projects; let j = index;">
                <img src="assets/img/project-card{{j+1}}.png">
                <div class="project-card-content">
                    <div class="project-skills">
                        <div class="project-skill" *ngFor="let skill of project.skills; let i = index;" [ngStyle]="{ 'background-color': getRandomSkillColor(i), 'color':'white'}">
                            <p>{{skill.name}}</p>
                        </div>
                    </div>
                    <p class="project-header">{{project.name}}</p>
                </div>

            </div>
        </div>
    </div>
</div>
