.cover{
    font-family: MontFamily;
    padding: 10px;
    height: 100%;
    color: white;
    margin-top: 262px;  
}
.cool-button{
    font-weight: bold;
    font-size: 20px;
    display: flex;
    width: 280px;
    height: 66px;
    padding: 10px;

    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    border: 1px solid #808080;
    font-family: MontFamily;
    background: none;
    color: white;
    padding-bottom: 10px;
}
.cool-button:hover {

}
.cool-button:active {

    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
.title-label p{
    font-size: 20px;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.3333333);
    margin: 0px;
   
}
.my-name{
    font-size: 110px;
    font-weight: bold;
    margin-top: 4px;
    line-height: 105.3%;
}
.tag{
    border-radius: 4px;
   
    font-size: 24px;
    color:black;
    padding: 12px 16px 12px 16px;
    width: fit-content;
    margin-right: 16px;
}
.tag:hover{
    background: #7e978d;
    color:black;
}
.tags{
    margin-top: 32px;
    margin-bottom: 56px;
}
.motto{
    font-size: 32px;
    color: rgba(255, 255, 255, 0.6999999);
    margin-top: 35px;
    
}

.container-inside-cover{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}
.sphere{
    grid-column: 8/10;
    margin-top: 54px;
}
.about-me{
    grid-column: 1/7;
}
.shape {
    z-index: 0;
    border-radius: 1000px;
    float: left;
    opacity: 0.5;
    filter: blur(100px);
    
    position: absolute;
    width: 220px;
    height: 185px;
}
.mesh{
    position: absolute;
    top: 0;
    right: 0;
   
}