html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
.container-vertical{
    display: grid;
    grid-template-rows: 1fr auto;
    min-height: 100%;
}
.container{
    
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: 1fr auto;
}


.content-item{
    grid-column: 2/11;
}
.footer-section{
  

    
}