html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
.container{
    

    display: grid;
    grid-template-columns: repeat(11, 1fr);
}
.cover-item-background{
    background-image: url('src/assets/img/cover4x.png');
    background-repeat: no-repeat;
    background-size: cover;
    
}
.item{
    border :1px;
    border-width: 2px;
    border-style: dashed;
    border-color: red;
}
.content-item{
    grid-column: 2/11;
}
