
<div class="project-details-header">
    <div class="project-img">
        <img src="assets/img/project_cover.png">
    </div>
    <div class="description">
        <div class="project-skills">
            <div class="project-skill" *ngFor="let skill of skills">
                <p>{{skill}}</p>
            </div>
        </div>
        <div><p>Devs Porto.</p></div>
        <div><p>Devs Porto. - projet that was created by me 
            and famous designer.</p></div>
        <div class="date">
            <p>10 July 2023</p>
        </div>
    </div>


</div>


