
<div class="project-details-header" *ngIf="project" >
    <div class="project-img">
        <img src="assets/img/project-card{{project.id}}.png">
    </div>
    <div id="description">
        <div class="project-skills">
            <div class="project-skill" *ngFor="let skill of project.skills; let i = index" [ngStyle]="{ 'background-color': getRandomSkillColor(i), 'color':'white'}" >
                <p>{{skill.name}}</p>
            </div>
            
        </div>
        <div id="project-name"><p>{{project.name}}</p></div>
        <div><a href="{{project.githubLink}}">Github Link</a></div>
        <div id="project-description"><p>{{project.description}}</p></div>
        <div id="date">
            <p>{{project.projectStartDate | date}}</p>
        </div>
    </div>


</div>


