.project-details-header{
    font-family: MontFamily;
    margin-top: 172px;
    margin-bottom: 60px;
    display: flex;
}
#project-name{
    margin-top: 34px;
    font-size: 64px;
    font-weight: bold;
    line-height: 75px;
}
#project-name p {
    margin: 0;
}
#description{
    margin-left: 20px;
    align-self: center;
}
#project-description{
    font-size: 16px;
    color: #b3b3b3;
}
#date{
    margin-top: 34px;
    font-size: 16px;
    color: #808080;
}
.project-skills{
    display: flex;
    gap: 10px;
    padding: 0;
    margin: 0;
 
}
.project-skill{
    border-radius: 4px;
    background: #F8B3E6;
    color: black;
    font-family: MontFamily;
 
    height:fit-content;

}
.project-skill p{
    margin: 0;
    padding: 6px;

}
a{

    color:white;
}
a:hover{
    color:gray;
}