<div id="about-me-section">
    <div class="about-image">
        <img src="assets/img/aboute-me-form.png">
    </div>
    <div class="about-text">
        <p id="about-word">ABOUT</p>
        <p id="developer-word">DEVELOPER</p>
        <p id="about-paragraph">
            As a third-year computer science student, <br>
            I have a strong grasp of computer science<br>
             concepts and technologies from my coursework <br>
             and practical experience. I'm motivated to learn<br>
              and view an internship as the ideal chance to<br>
               enhance my skills and industry knowledge.<br>

        </p>
    </div>
</div>