#about-me-section{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.about-image img{
    width: 488.136px;
    height: 488px;
}
.about-text{
    font-family: MontFamily;
    display: flex;
    justify-content: center; /* Centers items horizontally */
    
    flex-direction: column;
}
.about-text p {
    margin: 0;
}
#about-word{
    color: #B354D7;
    font-size: 20px;
    font-family: Mont;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 0;
}

#developer-word{
    color: #FFF;
    font-size: 64px;
    font-family: Mont;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}
#about-paragraph{
    color: rgba(255,255,255,0.5);
    font-size: 24px;
    font-family: Mont;
    font-style: normal;
    font-weight: 600;
    line-height: 140.8%;   
}
