<div id="about-me-section">
    <div class="about-image">
        <img src="assets/img/aboute-me-form.png">
    </div>
    <div class="about-text">
        <p id="about-word">ABOUT</p>
        <p id="developer-word">DEVELOPER</p>
        <p id="about-paragraph">
            As a third-year computer science student, <br>
            I have acquired a solid understanding of <br>
            computer  science concepts and technologies <br>
            through my coursework and practical experience.<br>
            I am highly motivated and eager to learn,<br>
            and I believe that an internship is the perfect<br>
            opportunity for me to develop my skills and broaden<br>
             my understanding of the industry.<br>

        </p>
    </div>
</div>