.protfolio-header{
    width: 100%;
    top: 0;
    position: fixed;
    font-family: MontFamily;
    
    font-size: 14px;
    
    background: rgba(15, 15, 15, 0.50);
    
    backdrop-filter: blur(32px);
    
}

.header-grid{
    
    display: grid;
    grid-template-columns: repeat(11,1fr);   

}
.header-options{
    grid-column: 2/11;
    padding: 32px 0px;
    display: flex;
    
}

.header-options-links{
    display: flex;
    opacity: 0.5;
}
.header-options-links div{

    margin-right: 48px;
    text-align: center;
    
}
.header-options-buttons{
    margin-left: auto;
}
.cool-button-header{

        color:rgb(255, 255, 255);
        font-weight: bold;
        font-size: 16px;
        display: flex;
        width: 180px;
        height: 47px;
        padding: 10px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 8px;
        border: 1px solid #ffffff;
        font-family: MontFamily;
        background: none;
        padding-bottom: 10px;
}

