<div class="cover">
    <div class="container-inside-cover">
        <div class="about-me">
            <div class="title-label">
                <p>WEB DEVELOPING \ BACK END CODE</p>
            </div>

            

            <svg class="mesh" width="999" height="828" viewBox="0 0 999 828" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_178_1365)">
                <path opacity="0.3" d="M345 827V-260M485 827V-260M625 827V-260M765 827V-260M905 827V-260M1087 610L2.44784e-05 610M1087 470L1.83588e-05 470M1087 330L1.22392e-05 330M1087 190L6.11959e-06 190M1087 50L0 50.0001" stroke="url(#paint0_linear_178_1365)" stroke-width="2"/>
                </g>
                <defs>
                <linearGradient id="paint0_linear_178_1365" x1="1038" y1="-40.5" x2="533" y2="584" gradientUnits="userSpaceOnUse">
                <stop stop-color="#FD85E9"/>
                <stop offset="1" stop-color="#4365DF" stop-opacity="0"/>
                </linearGradient>
                <clipPath id="clip0_178_1365">
                <rect width="1000" height="940" fill="white" transform="translate(0 -112)"/>
                </clipPath>
                </defs>                
            </svg>            

            <div class="shapes">
                <div class="shape" style="background: #5733ff;top:47px;
            left:-10px; "></div>
            <div class="shape" style="background:#20c6fc;top:152px;
            left:140px;">
            </div>
            <div class="shape" style="background:#f17b7a;top:207px;
            left:-25px;">
            </div>
            <div class="shape" style="background:#f17b7a;top:598px;
            left:918px; width:340px;height:280px; filter: blur(185px);
            opacity:0.3;" >
            </div>
            <div class="shape" style="background:#5733ff;top:352px;
            left:940px; width:340px;height:280px; filter: blur(185px);
            opacity:0.3;" >
            </div>
            <div class="shape" style="background:#20c6fc;top:512px;
            left:1168px; width:340px;height:280px; filter: blur(185px);
            opacity:0.3;" >
            </div>
            </div>
            


            <div class="my-name">MIKITA ZENEVICH</div>
            <div class="motto">
                <p>BRING YOUR IDEAS <br>
                    TO LIFE USING CODE
                    </p>
            </div>
            <div class="tags">
                <span class="tag" style="background: #D3DEDA;"> spring boot </span>
                <span class="tag" style="background: #F8B3E6;"> java </span>
                <span class="tag" style="background: #292326; color:white"> angular </span>
            </div>
            <div>
                <button class="cool-button">CONTACT ME</button>
            </div>
            
        </div>
        <img src='assets/img/Sphere.png' class="sphere">
    </div>
</div>

