#skills-header{
    color: rgba(255,255,255,  0.8999999761581421);
    font-size: 64px;
    font-family: MontFamily;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
}
.cards-wrapper{
    display: flex;
    justify-content: center;
}
.cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    z-index: -1;
    
}

.card{

    width: 300px;
    height: 300px;
    padding: 20px;
    border-radius: 24px;
    background: rgba(18, 18, 18, 0.50);
    backdrop-filter: blur(40px);

}

.card img{
    display:block;
    margin:auto;
}
.card-header{
    color: #FFF;
    font-size: 32px;
    font-family: MontFamily;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-align: center;
}
.card-text{
    color: rgba(255,255,255,  0.5);
    text-align: center;
    font-size: 16px;
    font-family: Mont;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}