<div id="skills-section">
    <p id="skills-header">{{header}}</p>
    <div class="cards-wrapper">
        <div class="cards">
            <div class="card" *ngFor="let skill of skills">
                <img src="assets/img/3D=1.png">
                <p class="card-header">{{skill}}</p>
                <div class="card-text" >
                    <p>Spring Boot makes it easy to create stand-alone,
                         production-grade Spring based Applications.</p>
                </div>
                
            </div>
        </div>
    </div>
    
</div>
